h2{
	font-family: Arial, "comic sans MS", sans-serif;

}
#a1{
	position: absolute;
	top: 100 px;
	right: 1200px;
	width: 100px;
	height: 100px;
	background-color: blue;
	border: 5px solid black;
	
	}
	
#a2{
	position: absolute;
	top: 120px;
	right: 1080px;
	width: 100px;
	height: 100px;
	background-color: green;
	border: 5px solid black;
	}
#a3{
	position: absolute;
	top: 230px;
	right: 970px;
	width: 100px;
	height: 100px;
	background-color: yellow;
	border: 5px solid black;
	}
	
#a4{
	position: absolute;
	top: 340px;
	right: 860px;
	width: 100px;
	height: 100px;
	background-color: red;
	border: 5px solid black;
	}
	
#b1{
	position: absolute;
	top: 100 px;
	right: 1200px;
	width: 100px;
	height: 100px;
	background-color: blue;
	border: 5px solid black;
	
	}
	
#b2{
	position: absolute;
	top: 0px;
	right: 100px;
	width: 100px;
	height: 100px;
	background-color: green;
	border: 5px solid black;
	}
#b3{
	position: absolute;
	top: 550px;
	right: 1200px;
	width: 100px;
	height: 100px;
	background-color: yellow;
	border: 5px solid black;
	}
	
#b4{
	position: absolute;
	top: 550px;
	right: 100px;
	width: 100px;
	height: 100px;
	background-color: red;
	border: 5px solid black;
	}	
	
#c1{
	position: absolute;
	top: 100 px;
	right: 1200px;
	width: 100px;
	height: 100px;
	background-color: blue;
	border: 5px solid black;
	z-index: 100;
	}
	
#c2{
	position: absolute;
	top: 90px;
	right: 1130px;
	width: 100px;
	height: 100px;
	background-color: green;
	border: 5px solid black;
	z-index: 99;
	}
#c3{
	position: absolute;
	top: 170px;
	right: 1050px;
	width: 100px;
	height: 100px;
	background-color: yellow;
	border: 5px solid black;
	z-index: 98;
	}
	
#c4{
	position: absolute;
	top: 250px;
	right: 970px;
	width: 100px;
	height: 100px;
	background-color: red;
	border: 5px solid black;
	z-index: 97;
	}
	